<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="Ev3Port" value="COM1" /> <!-- or for Linux/OSX, "/dev/tty.YourPortName" -->
    <add key="AwsSqsAddress" value="https://sqs.us-east-1.amazonaws.com/<SOME ID>/<YOUR QUEUE NAME>" />
  </appSettings>
</configuration>